/* --------------
  RESET
--------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --------------
  GENERAL
--------------- */

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  background-color: black;
  color: white;
}

footer {
  background-color: rgb(74, 74, 74) ; 
  height: 60px;
}

/* uitlities  */

.d-flex {
  display: flex;
}

.col {
  flex-direction: column  ;
}

/* --------------
  HEADER
--------------- */

header {
  height: 40px;
}

.topbar {
  justify-content: flex-end;
}

.topbar > * {
  margin: 3px;
  border-radius: 5px;
  background-color: #4a4a4a;
}

/* --------------
  MAIN
--------------- */

main {
  height: calc(100vh - 60px - 40px);
  overflow: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
} 

.topbar > * {
  padding: 5px 10px;
}


.card {
  width: 200px;
  height: 110px;
  margin: 2px;
  border: 1px dotted brown;
  background-color: lightpink;
  position: relative;
}

.card .name {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 0.7rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5px 10px;
}

/* --------------
  FOOTER
--------------- */

footer {
  justify-content: space-between;
  /* possiamo provare  */
  /* align-items: baseline; */
}

footer > * {
  height: 100%;
  align-items: center;
}